body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/jollibee-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
